#content { 
    width:846px;  
    border-bottom: 2px solid #808080;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
    font-family: Arial,Helvetica, san-serif; 
    font-size: 12px;
    clear:left}
    

#wrapper { 
    position:relative; 
    background-color: #FFF; 
/*    margin:0px auto; */
    width: 850px; 
    padding: 8px; 
    text-align: justify;
    top:0px;}
    
#column {
   padding:5px 10px
}

table.infobar { 
    width: 100%;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}
 
a {
    text-decoration: none; 
    color:#0000A0}

a img {
    border: none; 
   }

.headerSub a {
    color:#FFFF9B;
    text-decoration: none; 
}

.headerSub a:hover {
    text-decoration: underline; 
}

dt {
    font-variant: small-caps; 
   }

dd {
    padding-bottom: 10pt; 
   }

.header
{
  font-family: Verdana;
  font-weight: bold;
	color:#FFFF9B;
	background: #19409B;
}

.headerTitle
{
	font-size: 28px;
}

.headerSub
{
	font-size: 15px;
}

.headerLeft
{
	padding-left: 12px;
	width: 200px;
}

.caption {
    font-size: x-small;
    font-style: italic;
    text-align: center;
   }

.class1 a:hover { 
    text-decoration: none;}    
    
.class2 a:hover { 
    text-decoration: underline;}
    
.secHeader { 
    text-align:left; 
    border-bottom:1px solid #000; 
    clear:left;
    font-weight: bold; 
    font-size: 13px;  
    } 

.subsecHeader { 
    text-align:left; 
    border-bottom:0.5px solid #000; 
    clear:left;
    font-weight: bold; 
    font-size: 15px; 
    padding-top: 15px;
    }

.selected { 
    height: 18px; 
    width: 100px;
    color:#FFFF9B;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background:#80B29B;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    }

.selected a {
		text-decoration: none; 
    color:#FFFF9B
}


.unselected { 
    height: 18px;
    width: 100px;
    color:#FFFF9B;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background:#19409B;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 0px;
    }
    
.unselected a {
		text-decoration: none; 
    color:#FFFF9B
}


.unselected div:hover {
    border-top:3px solid #19409B;
    border-bottom:3px solid #19409B;
    background:#6A9480;
}

.unselected div {
    border-top:3px solid #19409B;
    border-bottom:3px solid #19409B;
    background:#19409B;
}


.selectedSub { 
    height: 18px; 
    width: 70px;
    color:#FFA144;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background:#808080;
    text-align: center;
    padding-right: 5px;
    padding-bottom: 0px;
    }

.selectedSub a {
		text-decoration: none; 
    color:#FFC177
}


.unselectedSub { 
    height: 18px;
    width: 70px;
    color:#FFFFFF;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background:#808080;
    text-align: center;
    padding-right: 5px;
    padding-bottom: 0px;
    }
    
.unselectedSub a {
		text-decoration: none; 
    color:#FFFFFF;
}

.unselectedSub a:hover {
    color:#FFC577;
}
	  

.emptyspace {
		height: 17px;
    background:#19409B;
}

.emptyspaceSub {
		height: 17px;
    background:#808080;
}


.leftColumn { 
    width: 205px; 
    border-right:1px solid #999;
    vertical-align: top;
    padding-right: 5px;
    padding-bottom: 5px;
    }

.centerColumn { 
    width: 470px; 
    border-right:1px solid #999;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
    text-indent: 0px;
    padding-bottom: 5px;
    }
    
.rightColumn { 
    text-indent: 10px;
    width: 200px; 
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 5px;}

.centerColumnGen { 
    width: 500px; 
    border-right:1px solid #999;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
    text-indent: 0px;
    padding-bottom: 5px;
    }

.rightColumnGen { 
    text-indent: 10px;
    width: 130px; 
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 5px;}

.leftColumnLoc { 
    width: 500px; 
    border-right:1px solid #999;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
    text-indent: 0px;
    padding-bottom: 5px;
    }

.rightColumnLoc { 
    text-indent: 10px;
    width: 300px; 
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 5px;}




