@charset "iso-8859-1";

BODY {font: 60% candara; 
		line-height: 1.88889;
		color: #708533; 
		margin: 0; 
		padding: 0;
	}

/* Les liens */
A:link{ 
	font-weight: bold; 
	text-decoration: none; 
	color: #667049;
	}
A:active { 
	font-weight: bold;
	text-decoration: none;
	color: #667049; 
	}
A:visited { 
	font-weight: bold;
	text-decoration: none;
	color: #667049;
	}
A:hover { 
	/* font: 105% candara; */
	font-weight: bold;
	text-decoration: underline;
	color: #667049; 
	}


HR {COLOR: #194157; WIDTH: 525;}
